* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif; }

.container {
  margin: 0 auto;
  max-width: 1440px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  line-height: 15px; }
  .logo__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 15px; }
  .logo__header {
    font-weight: lighter;
    font-size: 15px; }
  .logo__subHeader {
    font-weight: bold; }

.primaryMenu .mobileMenu {
  cursor: pointer;
  display: none;
  width: 60px;
  height: 45px;
  background-color: #061e37;
  border-radius: 5px; }
  .primaryMenu .mobileMenu svg {
    max-width: 100%;
    max-height: 100%; }
    .primaryMenu .mobileMenu svg line {
      stroke: white;
      stroke-width: 5; }

.menu {
  list-style: none; }
  .menu__item {
    display: inline-block; }
    .menu__item a {
      padding: 25px;
      text-decoration: none;
      color: white;
      font-weight: 600;
      line-height: 25px; }
      .menu__item a:hover {
        color: #061e37; }

.block1 {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(28, 234, 190, 0.7)), to(rgba(26, 192, 215, 0.7))), url(../img/headerBackground.png) no-repeat;
  background: linear-gradient(90deg, rgba(28, 234, 190, 0.7) 0%, rgba(26, 192, 215, 0.7) 100%), url(../img/headerBackground.png) no-repeat;
  background-size: cover; }
  .block1__btn {
    max-height: 30px;
    min-width: 82.5px;
    line-height: 25px;
    font-size: 12px;
    border: white solid 1px;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer; }
    .block1__btn:hover {
      color: #061e37;
      background-color: white;
      border-color: #061e37; }
  .block1__text {
    font-size: 18px;
    line-height: 35px;
    max-width: 585px; }
  .block1__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 160px 0; }
  .block1__video {
    background: url("../img/videoImg.png") no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #061e37;
    width: 600px;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 5px 10px #555555;
            box-shadow: 0 5px 10px #555555; }
    .block1__video video {
      width: 100%;
      height: 100%;
      background-color: rgba(225, 225, 225, 0.8); }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px; }

h1 {
  color: white;
  font-size: 55px;
  font-weight: 800;
  max-width: 475px; }

.video {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .video__btn {
    background-color: #061e37;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2.5px 5px #555555;
            box-shadow: 0 2.5px 5px #555555; }
    .video__btn:hover {
      color: #061e37;
      background-color: white; }
  .video__text {
    color: #061e37;
    font-size: 12px;
    width: 95px;
    font-weight: bold; }

@media screen and (max-width: 820px) {
  .block1 .primaryMenu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative; }
    .block1 .primaryMenu .menu {
      background-color: rgba(29, 233, 182, 0.71);
      position: absolute;
      right: 0;
      top: 45px;
      display: none;
      width: 100px; }
      .block1 .primaryMenu .menu__item a {
        padding: 10px; }
      .block1 .primaryMenu .menu-active {
        display: block; }
    .block1 .primaryMenu .mobileMenu {
      display: block; }
  .block1__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0; }
    .block1__main .main__left {
      text-align: center; }
    .block1__main .block1__video {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      max-width: 98%; } }
.buttons__btn {
  display: inline-block;
  padding: 20px 25px;
  background-color: #061e37;
  color: white;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px 10px #555555;
          box-shadow: 0 5px 10px #555555;
  margin: 30px 25px 0 0;
  font-weight: normal;
  cursor: pointer; }
  .buttons__btn:hover {
    background-color: white;
    color: #061e37;
    font-weight: bold; }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0; }
  .heading__header {
    margin-bottom: 5px;
    color: #061e37;
    font-size: 45px;
    font-weight: 600;
    text-align: center; }
  .heading__secondary {
    font-weight: 600;
    font-size: 25px;
    color: #b0bec5;
    text-align: center; }
  .heading__text {
    color: #b0bec5;
    font-size: 18px;
    line-height: 35px;
    max-width: 580px;
    text-align: center; }

.block2 {
  margin: 50px 0 100px 0; }
  .block2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .block2__cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    font-size: 15px;
    color: #061e37;
    margin-bottom: 80px; }

.col {
  text-align: center;
  margin-top: 50px;
  max-width: 350px; }
  .col__icon-purple {
    color: #b388ff; }
  .col__icon-blue {
    color: #80d8ff; }
  .col__icon-pink {
    color: #ea80fc; }
  .col__heading {
    margin: 40px 0 10px 0;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600; }
  .col__text {
    line-height: 20px; }

.counts {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-size: 20px;
  line-height: 25px;
  font-weight: 900; }
  .counts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 150px;
    width: 25%; }
    .counts__item .material-icons {
      font-size: 30px;
      background-color: white;
      padding: 15px;
      border-radius: 50%; }
    .counts__item-lightblue {
      background-color: #80d8ff; }
      .counts__item-lightblue .material-icons {
        color: #80d8ff; }
    .counts__item-blue {
      background-color: #82b1ff; }
      .counts__item-blue .material-icons {
        color: #82b1ff; }
    .counts__item-purple {
      background-color: #b388ff; }
      .counts__item-purple .material-icons {
        color: #b388ff; }
    .counts__item-pink {
      background-color: #ea80fc; }
      .counts__item-pink .material-icons {
        color: #b388ff; }
  .counts__text {
    margin-left: 20px;
    width: 100px; }

@media screen and (max-width: 820px) {
  .block2 {
    margin: 0 0 50px; }
    .block2__cols {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }

  .counts__item {
    width: 50%; } }
@media screen and (max-width: 360px) {
  .counts__item {
    width: 100%; } }
.greenBtn {
  max-width: 150px;
  padding: 20px 25px;
  color: white;
  background-color: #1de9b6;
  font-size: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px lightgray;
          box-shadow: 0 5px 10px lightgray;
  cursor: pointer; }
  .greenBtn:hover {
    color: #061e37;
    background-color: white;
    font-weight: bold; }

img {
  max-width: 100%;
  height: auto; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 100px 0; }
  .services__list {
    color: #061e37; }

.list__item {
  margin: 20px;
  width: 800px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px lightgray;
          box-shadow: 0 5px 10px lightgray;
  padding: 12.5px 20px;
  font-size: 15px;
  cursor: pointer; }
  .list__item .item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .list__item .item__header .header__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .list__item .item__header .header__left .material-icons {
        font-size: 20px;
        line-height: 25px;
        margin-right: 20px; }
  .list__item .item__main {
    padding-top: 13px;
    line-height: 25px;
    display: none; }
    .list__item .item__main .main__img {
      margin-right: 20px; }
    .list__item .item__main .main__text {
      max-width: 475px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 10px; }
  .list__item-active .item__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@media screen and (max-width: 820px) {
  .list__item {
    width: 100%; } }
@media screen and (max-width: 700px) {
  .list__item-active .item__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .list__item-active .item__main .main__text {
      max-width: 100%; } }
.comments {
  background: -webkit-gradient(linear, left top, right top, from(rgba(28, 234, 190, 0.7)), to(rgba(26, 192, 215, 0.7))), url(../img/headerBackground.png) no-repeat;
  background: linear-gradient(90deg, rgba(28, 234, 190, 0.7) 0%, rgba(26, 192, 215, 0.7) 100%), url(../img/headerBackground.png) no-repeat;
  background-size: cover; }
  .comments .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .comments__left {
    color: white;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .comments__left .comments__heading {
      font-size: 45px;
      max-width: 460px; }
    .comments__left .comments__text {
      font-size: 15px;
      line-height: 25px;
      max-width: 565px;
      margin: 15px 0 40px 0; }
  .comments__right {
    margin: 32.5px 0 32.5px 40px; }
    .comments__right .right__quotes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .comments__right .right__quotes .quotes__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .comments__right .right__quotes .quotes__item .quote {
          margin: 32.5px 0 32.5px 40px;
          font-size: 15px;
          line-height: 25px;
          max-width: 575px;
          padding: 30px;
          background-color: white;
          color: #78909c;
          border-radius: 5px; }
          .comments__right .right__quotes .quotes__item .quote h4 {
            color: #061e37;
            padding-bottom: 5px; }
      .comments__right .right__quotes .material-icons {
        width: 85%;
        color: white;
        font-size: 45px;
        line-height: 25px;
        text-align: center; }

@media screen and (max-width: 820px) {
  .comments .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .comments__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .comments__left .comments__text {
      margin: 15px 0;
      text-align: center; }
  .comments__right {
    margin: 15px 0; } }
.ourTeam {
  padding-top: 50px;
  margin-bottom: 90px; }
  .ourTeam .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .ourTeam .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ourTeam .profile__photo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .ourTeam .profile__photo .photo {
        border-radius: 50%;
        -webkit-box-shadow: 0 0 10px lightgray;
                box-shadow: 0 0 10px lightgray;
        padding: 25px;
        margin: 25px; }
        .ourTeam .profile__photo .photo img {
          border-radius: 50%;
          -webkit-box-shadow: inset 0 0 10px 10px black;
                  box-shadow: inset 0 0 10px 10px black; }
      .ourTeam .profile__photo .photoBack {
        opacity: 50%; }
    .ourTeam .profile__details {
      text-align: center;
      margin-bottom: 30px; }
      .ourTeam .profile__details .details__name {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin: 15px; }
      .ourTeam .profile__details .details__text {
        font-size: 15px;
        line-height: 25px;
        color: #78909c;
        max-width: 660px; }

@media screen and (max-width: 400px) {
  .profile__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .profile__photo .photo {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; } }
.social {
  color: #808080;
  line-height: 25px; }
  .social i {
    margin: 12.5px; }

.contact {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px; }
  .contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    .contact__block label {
      -ms-flex-item-align: center;
          align-self: center;
      width: 280px; }
    .contact__block .contact__input {
      width: 100%; }
  .contact fieldset {
    max-width: 600px;
    width: 100%;
    border: none;
    color: #061e37; }
    .contact fieldset legend {
      display: none; }
    .contact fieldset textarea {
      width: 100%;
      height: 150px; }
    .contact fieldset input[type='checkbox'] {
      display: none; }
      .contact fieldset input[type='checkbox'] + span {
        width: 15px;
        height: 15px;
        border: 2px solid #061e37;
        border-radius: 2px;
        font-size: 12px;
        color: transparent; }
      .contact fieldset input[type='checkbox']:checked + span {
        color: #061e37; }
  .contact__input {
    background-color: transparent;
    border: 1px solid #061e37;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 20px; }
  .contact input.greenBtn {
    margin: 20px 0;
    font-size: 16px;
    padding: 10px 40px;
    border: none;
    line-height: 30px;
    max-width: 130px; }
  .contact label span {
    font-size: 15px;
    font-weight: 500; }

@media screen and (max-width: 600px) {
  .contact__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
footer {
  background-color: #061e37;
  padding: 70px 0; }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0; }
    footer .footer__links {
      color: white; }
      footer .footer__links li {
        display: inline-block; }
        footer .footer__links li:first-child a {
          padding: 0 20px 0 0; }
      footer .footer__links li + li:before {
        content: "";
        display: list-item;
        position: absolute;
        margin: 0 10px; }
      footer .footer__links a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        padding: 0 20px; }
        footer .footer__links a:hover {
          color: #1de9b6; }
    footer .footer .social {
      color: rgba(255, 255, 255, 0.3);
      margin: 20px; }
      footer .footer .social i:hover {
        color: white;
        cursor: pointer; }
    footer .footer .menu__item a:hover {
      color: #1de9b6; }

@media screen and (max-width: 720px) {
  footer {
    padding: 20px 0; }
    footer .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .footer__links {
        margin: 20px; }
      footer .footer .menu {
        margin: 20px; } }

/*# sourceMappingURL=style.css.map */