*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    background-color: #efefef;

}
img{
    max-width:100%;
    height:auto;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}
.product{
    width:465px;
    height:610px;
    background-color:#37b0ae ;

}
.product__heading{
    color:white;
    margin:15px;
    font-weight:700;
    font-style:italic;
}
.product__images{
    height:90%;
    background:#37b0ae url(../img/camera-shadow.png) no-repeat border-box bottom -30px right -20px;
    background-size:contain;
}
.product__img{
  position:relative;
    right:30px;
    top:10px;
    z-index:5;

}

.gallery{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:absolute;
}

.gallery__img{
background-color: rgba(239, 239, 239, 0.5);
    margin:5px;
    position:relative;
    right:30px;
}

.img__view{
    object-fit: contain;
    width:100px;
    height:100px;
}
.gallery__img:hover{
    transform: scale(2);
    background:white;
    z-index:8;
}

.info{
    padding:40px 40px 40px 80px;
    width:420px;
    height:620px;
    background-color:white;
    display:flex;
    flex-direction:column;
   justify-content:space-around;
    color:#7c8d9c;

}
.heading__1{
    color: #3a4d5c;
}
.heading__2{
    color: #89949d;
    font-weight:lighter;

}
.info__features{
    color: #7c8d9c;
    font-size:13px;
}

.features__heading{
    color: #7c8d9c;
    padding:10px 0;
}
.info__list{
    padding:0 15px;
    list-style:none;
}
.list__item{
    padding:5px;
    list-style:square url("../img/square.png");
}



.info__interact{
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.info__links{
    list-style:none;
    display:flex;
}
.info__link{
    font-size:11px;
    margin-right:15px;
    color: #7c8d9c;
    text-decoration:none;
}

.info__link:hover{
    background:#37b0ae;
    color:white;
}

.info__quantity{
    display:flex;
margin-top:10px;
}

.info__btn{
    padding:10px 20px;
    border:solid gray 1px;
    border-right:none;
    text-decoration:none;
    color:#7c8d9c;
}

.info__btn:last-child{
    border-right:solid gray 1px;
}

.info__btn:hover{
    background-color:#37b0ae;
    color:white;

}

.info__price{
    display:flex;
    align-items:flex-end;
}
.price__current{
    font-size:37px;
    color: #3a4d5c;
}
.price__old{
color: #9fabb6;
    font-size:13px;
    margin-left:10px;
}
.info__buttons{
    display:flex;
justify-content:space-between;
}

.button__link{
    color:#7c8d9c;
    text-decoration:none;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis: 200px;
    border:solid gray 1px;
}

.button__link:hover {
    color:white;
    background-color: #37b0ae;
    border:solid #37b0ae 1px;
}
@media screen and (max-width:1000px){

    .container{
        flex-direction:column;
    }
    .product{
        width:540px;

    }
    .product__images{
        width:400px;
        height:400px;
        margin:auto;
    }
    .product__img{
        right:0;
        top:0;
        width:340px;
        height:340px;
    }
    .gallery{
        flex-direction:row-reverse;
    }
    .gallery__img{
		right:0;
		top:-150px;
    }
}