.skills{
  .container{
    max-width:1200px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:100px 10px;
  }
  &__content{
    width:560px;
  }
  &__title{
    padding-bottom:30px;
    font-size:30px;
    color: $darkTitle;
    text-transform: uppercase;
  }
  &__text{
    padding: 20px 0;
    font-size:18px;
    color: #919191;
    line-height:30px;
  }
  &__button{
    cursor:pointer;
    width:190px;
    margin-top:30px;
    color:$greenActive;
    text-transform:uppercase;
    font-size:18px;
    font-weight:bold;
    padding:20px 33px;
    border:2px solid $greenActive;
    background:transparent;
    &:hover{
      border-color: $darkTitle;
      color: $darkTitle;
    }
  }
  &__level{
    padding-top:40px;
    max-width:560px;
  }
  &__name{
    color:$darkTitle;
    font-size:22px;
    font-weight:bold;
    text-transform:uppercase;
  }
  &__bar{
    background-color: $lightBackGr;
    height:30px;
    margin-top:15px;
  }
  &__progress{
    width:90%;
    height:100%;
    color:white;
    text-align:right;
    line-height:30px;
    font-size:18px;
    font-weight:bold;
    background-color:$greenActive;
    padding-right:10px;
    &_80{
      width:80%;
    }
    &_70{
      width:70%;
    }
  }
}
@media screen and (max-width:1130px){
  .skills{

    .container{
      justify-content: center;
      padding:30px 10px;
    }
    &__content{
      text-align: center;
    }
    &__button{
      margin:30px auto 0;
    }

  }
}
