*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
}
label{
    display:block;
}
.modal{

    background-color: rgba(225,225,225,0.75);
    display:none;/*flex;*/
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    position:absolute;
}
.login{
    background-color: white;
    padding:50px;
    max-width: 600px;
    width:100%;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.75);
    font-size:18px;
}
.login form{
    display:flex;
    flex-direction:column;
}
.login__title{
    font-size:40px;
    font-weight:normal;
}
.login label{
    padding-top:30px;
    min-height:126px;
}
.login input{
    font-size:18px;
    max-width: 500px;
    width:100%;
    padding:10px;
    border-radius:10px;
    border-color:gray;
    margin:5px 0;
}
.login__err{
    padding-left:12px;
    color:red;
}
.login input[type='submit']{
    max-width:150px;
    border-radius:5px;
    color:white;
    background-color: #125ed2;
    font-weight: bold;
    border:none;
    padding:18px;
    margin-left:auto;
}
.login input[type='submit']:hover{
    background-color: blue;
}
.modal__content {
    background-color: lightgray;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width:15%;
    min-width:280px;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.modal__btn,#no:hover{
    padding:10px 30px;
    background-color:#0097f4;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
#no{
    background-color:transparent;
    color:#0097f4;
}

#modal__main{
    margin: 10px 0;
    padding: 20px 5px;
}
input[disabled]{
    background-color:gray;
}
.todo{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.todo__heading{
    margin-top:30px;
    font-size:30px;
    text-transform:uppercase;
}
.newTask{
    display:flex;
    align-items: center;
    max-width:780px;
    width:100%;
    margin:30px 0 25px;
}
.newTask label{
    width:100%;
    max-width:660px;
}
.newTask__text{
    width:100%;
    border-width:0 0 2px 0;
    border-color: #e7e7e7;
    padding:10px 0;
    font-size:16px;
}
.newTask input[type='submit']{
    font-weight:bold;
    margin-left:15px;
    color:white;
    background-color: #0097f4;
    padding:15px 40px;
    text-transform:uppercase;
    border:none;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.75);
    cursor:pointer;
}
.filters{
    width:100%;
    max-width:900px;
    color: #9c9696;
    display:flex;
}
.filters .material-icons{
    font-size:48px;
    cursor:pointer;
}
.filters__priority{
    display:flex;
    flex-direction:column;
    align-items: center;
    line-height:10px;
    margin:0 60px 0 50px;

}
.filters__priority .material-icons{
    line-height:12px;
    height:12px;
    cursor:pointer;
}

.filters__search{
    width:100%;
    max-width:540px;
    display:flex;

    border-bottom: #a6a6a6 1px solid;
}
.filters__search input{
    width:100%;
    margin-bottom:1px;
    font-size:16px;
    border:none;
}
.filters__options{
    margin-left:60px;
}
.todo__tasks{
    list-style-type: none;
    width:100%;
    max-width:940px;
}
.task{
    display:flex;
    margin:25px 0;
}
.task_done .task__text{
    opacity:0.7;
    background-color:lightblue;
    text-decoration:line-through;
}
.task__date{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:18px;
    max-width:105px;
    margin:5px 0;
    text-align: center;
}

.task__priority{
    padding:10px 20px;
    background-color: #717171;
    font-size:18px;
    color:white;
    margin:5px 25px;
    height:40px;
}
.task__arrows{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    color: #1b9af7;
    margin:5px 10px 0 0;
    height:40px;
}
.task__arrows .material-icons{
    line-height:75%;
    cursor:pointer;
}
.task__text{
    width:100%;
    max-width:540px;
    background-color: #eeeeee;
    padding:20px 10px;
}
.task__operations{
    display:flex;
}
.task__btn{
    width:35px;
    height:35px;
    background-color: #0097f4;
    border-radius:50%;
    margin:10px 0 0 15px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.task__btn_green{
    background-color: #3f8c3f;
}
.task__btn_checked{
background-color: #77cbfb;
}
.empty{
    font-size:28px;
    font-weight:bold;
    text-align: center;
}
