body{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.boxes{
    display:flex;
    flex-wrap:wrap;
    height:1200px;
    width:1200px;
}
.boxes__box {
    width:600px;
    height:600px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    position:relative;
}

.boxes__box-yellow{
    background-color: #ffe400;
    z-index:4;
}

.boxes__box-green{
    background-color: #54ff00;
    top:145px;
    right:55px;
    z-index:2;
}

.boxes__box-blue{
    background-color: #0030ff;
    left:75px;
    bottom:95px;
    z-index:3;
}

.boxes__box-red{
    background-color:red;
    top:55px;
    left:90px;
    z-index:1;
}

svg{
    margin:45px 55px;
}

circle{
    fill:rgb(44, 62, 80);
}

line{
    stroke:black;
    stroke-width:10;
    visibility:hidden;
}

.boxes__box:hover{
    z-index:10;
}
.boxes__box:hover line{
    visibility:visible;
}
@media screen and (max-width:1216px){
    .boxes{
        display:flex;
        flex-direction:column-reverse;
        flex-wrap:nowrap;
        width:600px;
        height:auto;
    }
   .boxes__box{
       position:static;
   }
   line{
       visibility:visible;
   }
}