
@font-face{
    font-family:SegoeWPN;
    src:url(../fonts/SegoeWPN.ttf);
}
@font-face{
    font-family:'Source Sans Pro';
    src:url(../fonts/SourceSansPro-Regular.ttf);
}
*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}
body {
    font-family:SegoeWPN, sans-serif;
    color: #909090;
}
.container{
    max-width:1024px;
    margin:0 auto;

}
.head {
    display:flex;
    justify-content:space-between;
}
.head__logo{
    display:flex;
    justify-content:center;
    align-items:center;
}

h1{
    display:inline-block;
    font-weight:normal;
    color:black;
    font-size:43px;
}
nav{
    align-self:flex-end;
}
nav ul{
    list-style:none;
}
li a {
    text-decoration:none;
    color:gray;
    display:block;
    padding:15px 0;

}
img{
    max-width:100%;
height:auto;
}

.menu li{
    display:inline-block;
    margin:0 10px;
}

.menu li a:hover{
padding:13px 0;
    border-bottom: solid blue 2px;

}

.MobileMenu{
   display:none;
    width:60px;
    height:45px;
    background-color: #5094f2;
    border-radius:10px;
}

svg{
    max-width:100%;
    max-height:100%;
}

line{
    stroke:white;
    stroke-width:5;
}

.logo{
    display:inline-block;
    width:44px;
    height:44px;
    font-size:60px;
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius:50%;
    background-color: #508ef2;
    text-align:center;
    margin:25px 20px 20px 25px;
}

.banner{
    background:url(../img/banner1.png) no-repeat;
    background-size:cover;
}
.banner__content{
    padding:30px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}
.banner__arrow{
    margin:0 -25px;
}
.banner__img{

}
.bannerRight{
    max-width:400px;
    line-height:45px;
    font-size:20px;
}
.banner__header{

    font-size:30px;
    font-weight:lighter;
}

.banner__text{
    max-width:210px;
}

.btn{
    font-weight:lighter;
    background: rgb(79,148,243);
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:162px;
    margin:20px;
    font-size:22px;
    line-height:40px;
    padding:5px;
}
.btn:hover{
    background-color:blue;

}
.btn__sign{
    width:33px;
    height:33px;
}

.col{
    margin:50px 25px;
    display:flex;
    justify-content:space-between;

}
.col__item{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    max-width:253px;
}
.col__heading{
    color:deepskyblue;
    font-size:20px;
    line-height:44px;
}
.col__img{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    width:186px;
    height: 186px;
}

.col__img-blue{
    background-color: #5094f2;
}
.col__img-red{
    background-color: #d94748;
}
.col__img-orange{
    background-color: #ebbb11;
}
.col__content{
    margin-top:16px;
}
.col__text{
    font-size:14px;
}
.cart{
    display:flex;
    justify-content: space-around;
    margin-bottom:60px;
    padding-top:40px;
}
.cart__heading{
    font-weight:normal;
    font-size:42px;
    margin-bottom:30px;
}
.cart__text{
    align-self:flex-end;
}
.text__heading{
    line-height:44px;
    padding-bottom:10px;
    font-weight:normal;
    font-size:26px;
    color: #6f7173;
}
.text__list{
    list-style:none;
    line-height:36px;
    font-size:15px;
}

footer{
    text-align:center;

}
.copy{
    padding:20px;
}

@media screen and (max-width:640px){
nav{
    align-self:center;
    display:flex;
}
    nav:hover .menu{
        display:flex;
        flex-direction:column;

    }
    .MobileMenu{
        display: inherit;
        margin:25px 20px 25px 0;
    }
    nav:hover .MobileMenu{
        background-color:blue;
    }
    .menu{
        display:none;
    }
    .banner__text{
        line-height:36px;
    }
    .banner__img{
        width:177px;
    }
    .banner__arrow{
        display:none;
    }

    .btn{

        justify-content:space-around;
        min-width:235px;
        min-height:53px;
        font-size:31px;
        font-weight:lighter;
        padding:0;
        margin: 30px 0;
    }

    .col{
        margin:0;
        flex-direction:column;

    }
    .col__item{
        flex-direction:row;
        justify-content:center;
        align-items:center;
        text-align:left;
        max-width:100%;

        border-bottom:gray 1px solid;
    }
    .col__content{
        max-width:365px;
    }
    .col__heading{
    font-size:34px;
    }
    .col__text{
        font-size:19px;
    }
    .col__img{
margin:35px 20px 20px 0;
        width:136px;
        height: 136px;
    }

   /* .container{
        flex-direction:column;
        align-items:center;
    }
    .container__other{
        display:flex;
        flex-direction:column;
    }
    .cart__heading{
        font-size:42px;
    }
    .cart__img{
        max-width:58%;
        align-self:center;
    }
    .text__heading{
        font-size:34px;
    }*/
}